# Data exploration 

The task is to do a reducer side inner join of both the tables (what tables?)

In [1]:
import pandas as pd 
import numpy as np
import pylab as pl

%pylab inline

pl.style.use('ggplot')

Populating the interactive namespace from numpy and matplotlib

In [2]:
f_sunday = pd.read_csv('../data/fares_sunday.csv')
f_wednesday = pd.read_csv('../data/fares_wednesday.csv')

In [4]:
t_sunday = pd.read_csv('../data/trips_sunday.csv')
t_wednesday = pd.read_csv('../data/trips_wednesday.csv')

/Library/Python/2.7/site-packages/pandas-0.16.2-py2.7-macosx-10.10-intel.egg/pandas/io/parsers.py:1170: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  data = self._reader.read(nrows)

In [6]:
f_sunday.head()

,medallion,hack_license,vendor_id,pickup_datetime,payment_type,fare_amount,surcharge,mta_tax,tip_amount,tolls_amount,total_amount
0,4B37DE7600AEF9C61F784B05FDEEE0E9,1D7E4CD01ED1C7A6E662A2A9A4B7153F,CMT,2013-08-04 00:03:59,CRD,7.5,0.5,0.5,2.10,0,10.60
1,EEC9C6596BD11B4F213367BEF164ED40,902B96BCB437D747BA50888778132BE4,CMT,2013-08-04 00:16:29,CRD,6.5,0.5,0.5,1.87,0,9.37
2,B009310787A68502FFD50A2F9CB5CE26,A44307E7C864D631E9A26B49C25DD23B,CMT,2013-08-04 00:11:00,CRD,14.5,0.5,0.5,3.00,0,18.50
3,A408F138216DE3E432BBF2FD88665A88,82EA6A085709BE93AA9DA363A85A04FF,CMT,2013-08-04 00:04:26,CRD,12.5,0.5,0.5,3.37,0,16.87
4,C46A099283B423340CD9CC2837E73761,4339B58CF42D6B3011479B8D9731CA7F,CMT,2013-08-04 00:09:55,CRD,7.5,0.5,0.5,1.50,0,10.00

In [5]:
t_sunday.head()

,medallion,hack_license,vendor_id,rate_code,store_and_fwd_flag,pickup_datetime,dropoff_datetime,passenger_count,trip_time_in_secs,trip_distance,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude
0,4B37DE7600AEF9C61F784B05FDEEE0E9,1D7E4CD01ED1C7A6E662A2A9A4B7153F,CMT,1,N,2013-08-04 00:03:59,2013-08-04 00:12:46,2,527,1.3,-74.008743,40.738098,-73.992302,40.743961
1,EEC9C6596BD11B4F213367BEF164ED40,902B96BCB437D747BA50888778132BE4,CMT,1,N,2013-08-04 00:16:29,2013-08-04 00:21:41,1,311,1.2,-73.955505,40.776752,-73.942024,40.786846
2,B009310787A68502FFD50A2F9CB5CE26,A44307E7C864D631E9A26B49C25DD23B,CMT,1,N,2013-08-04 00:11:00,2013-08-04 00:21:57,1,656,4.3,-73.993073,40.698143,-73.979675,40.657543
3,A408F138216DE3E432BBF2FD88665A88,82EA6A085709BE93AA9DA363A85A04FF,CMT,1,N,2013-08-04 00:04:26,2013-08-04 00:18:27,1,840,3.2,-73.954834,40.765484,-73.999046,40.760777
4,C46A099283B423340CD9CC2837E73761,4339B58CF42D6B3011479B8D9731CA7F,CMT,1,N,2013-08-04 00:09:55,2013-08-04 00:18:53,1,538,1.0,-73.988869,40.723156,-74.001343,40.731052